.background {
    -fx-background-color: #008081;
}
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #008081;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

